@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .underdot {
    @apply absolute block top-full left-1/2 -translate-x-1/2 w-1 h-1 rounded-full bg-custom-off-white;
  }
}

@layer utilities {
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
